<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Store's HomePage</title>
</head>
<body>
<h1>View Products</h1>
<a href="/logout">Logout</a>
<table>
    <thead>
    <tr>
        <th>Category</th>
        <th>Product Name</th>
        <th>Product Price</th>
    </tr>
    </thead>
    <tbody>
    <!--Our th:each Thymeleaf Syntax simply runs a for loop on our products object which is a list of products gotten from our
    product Page object in our product controller. The for loop will display a row of table data for each product object that is
    in the product list. The product list is the list of product for the currently set page, based on the setPageSize() method
    that has been set in the ProductController to assist with our data presentation or representation in a paginated form for
    our user's easy or smooth experience viewing bulk data.-->
    <tr th:each="product : ${products}">
        <!--for each product's local variable, cast the data to text format for our HTML page and display it as the text value in
         our <td> or table data tag -->
        <td th:text="${product.category}"></td>
        <td th:text="${product.productName}"></td>
        <td th:text="${product.price}"></td><br>
        <td><a  th:href="@{/edit(id=${product.id})}">Edit</a></td>
        <td><a  th:href="@{/delete(id=${product.id})}">Delete</a></td>
    </tr>
    </tbody>
</table>
<!--use numbers.sequence() to create a list numbers from 0 - (the total number of pages minus 1. It is minus one because
we are starting from 0. Just like array indexing) and when any of these numbers are clicked pass that number as a request parameter.
Please see /products/ endpoint's method called homeWithMV to see what happens to the page number ones it get sent to our controller-->
<tr th:if="${totalPages > 1}">
            <a th:href="@{/products/(page=0)}">&laquo;</a>
        <td th:each="i : ${#numbers.sequence(0, totalPages -1)}"
            th:class="${currentPage == i} ? active : ''">
            <a th:href="@{/products/(page=${i})}" th:text="${i+1}"></a>
        </td>
        <td th:class="${currentPage  == totalPages -1} ? disabled : ''">
            <a th:href="@{/products/(page=${totalPages -1})}">&raquo;</a>
        </td>
</tr>
<br>
<a href="/add-products">Add new Products</a>
</body>
</html>