<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Store</title>
</head>
<body>
<h1>Product Register</h1>

<h1 th:text="${greeting}"></h1>

<form method="post" th:action="@{/home}" th:object="${product}">
    Category <input name="category" th:field="*{category}"><br/>
    Product Name <input name="product_name" th:field="*{productName}">
    Price <input name="price" th:field="*{price}">
    <button>Submit</button>
</form>

</body>
</html>